/* Animation */
:root .VPNav .title {
  background: linear-gradient(
    -45deg,
    #3eaf7c,
    #3eaf7c,
    #6355a4,
    #3eaf7c,
    #3eaf7c
  );
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 20s ease-in-out infinite;
  -moz-animation: animated_text 20s ease-in-out infinite;
  -webkit-animation: animated_text 20s ease-in-out infinite;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
